.postcard-container {
  @apply w-full max-w-[560px] h-[317px] bg-white rounded-[4px] shadow-primary overflow-hidden flex;
  transition: 0.1s ease;
  &:hover {
    transform: scale(1.01);
  }
}

.actions-container {
  @apply text-neutral300 w-[56px] h-full flex flex-col
    justify-between items-center p-4 bg-neutral100;
  .icon {
    transition: 0.2s ease;
    &:hover {
      @apply text-[110%] text-neutral700;
    }
  }
}

.vote-wrapper {
  @apply flex flex-col items-center gap-1;
}

.control-wrapper {
  @apply flex flex-col gap-1;
}

.content-wrapper {
  @apply w-full m-4 overflow-hidden;
}

.user-information {
  @apply flex justify-between items-center;
}

.post-content {
  > .image-holder {
    @apply overflow-hidden mt-1 cursor-pointer;
  }
}

.tags-card {
  @apply max-w-[240px] bg-white rounded-[4px] p-4 border-[1px] border-neutral200;
  > .tag-item {
    @apply p-2 cursor-pointer text-xs;
    &:hover {
      @apply bg-primary50;
    }
  }
}

.option-list {
  @apply flex flex-wrap;
  > .list-item {
    @apply w-[120px] text-xs my-1 text-neutral500;
    text-decoration: none;
  }
}
